/* место для вашего кода */
html{
    scroll-behavior: smooth;
}

.main{
    display: flex;
    flex-direction: column;       
    row-gap: 180px;
    justify-content: space-around;
    margin-bottom: 180px;
}

.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 50px;     
    height: 293px;
}

.logo{
    width: 148px;
    height: 105px;
}

.nav ul{
    display: flex;
    list-style: circle;
    gap: 30px;
}

.nav-link-active{
    list-style-type: none;
}

address{
    font-style: normal;
    max-width: 240px;
    justify-self: end;
}

/*Обложка*/
.top{
    text-align: left;    
    padding-bottom: 20px;
}

.middle{    
    text-align: center;    
    padding-bottom: 20px;
}

.bottom{    
    text-align: right;  
}

.last-letter{ 
    letter-spacing: 0;  
    text-align: left;  
}


.title-block{    
    display: block;
    z-index: 2;  
    padding-top: 115px;
    margin-bottom: 106px;
}

.title{    
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    line-height: 115%;
    text-transform: uppercase;
    letter-spacing: 30px;    
    display: block;
}

.title-block{    
    width: 100%;    
    z-index: 2;    
}

.cover{   
    padding: 50px;    
    background-image: url("../images/cover.jpg");
    background-size: cover;
    position: relative;   
    display: flex;  
    flex-direction: column; 
    align-items: center;    
    z-index: 0;    
}

.overlay{    
    background-color: rgb(0 0 0 / 0.6);
    height: 100%;    
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.description{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;   
    z-index: 2; 
}

.description p{    
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 15px;
    text-transform: uppercase;
}

.bet-button{
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 31px;
    font-size: 22px;
    border: 2px solid #fff;
    cursor: pointer;
}

/*Лоты*/
.lots-title{
    margin-left: 40px;
    font-size: 40px;
    margin-bottom: 27px;
}

.lots{
    position: relative;
}

.flex-lots{
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;    
}

.lot{
    text-decoration: none;
}

.card{    
    width: 334px;
    height: 596px;
    position: relative; 
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    z-index: 0;    
}

.card-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;    
    z-index: -1;
}

.card-title{ 
    padding: 40px;  
    z-index: 2;        
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.card-description{     
    padding: 40px;
    z-index: 2;      
    color: #fff;
    font-size: 20px;
}

.more-button{    
    position: absolute;
    left: 40px;
    font-size: 20px;  
    padding-top: 30px;  
}

/*Об аукционе*/

.about{
    display: grid;
    grid-template-rows: 240px 1fr;
    grid-template-columns: min-content 1fr;
    column-gap: 72px;    
}

.title-column{
    text-transform: uppercase;
    justify-self: start;
    align-self: center;
}

.description-column{
    grid-column: 2;
}

.about-description{
    font-size: 20px;
}

.description-column{
    width: 693px;
}

/*Лого*/
.logo-column{
    margin-left: 47px;
}

.logo-black img{
    margin: auto;
    width: 148px;
    height: 114px;
}

.logo-black{
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
}

/*Подвал*/

.footer{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    /* padding: 50px; */
    height: 180px;
}

.footer-address{
    justify-self: start;
}

.footer-nav{
    width: 164px;
}

.footer-nav ul{
    list-style: none;
}

.footer-social-list{
    list-style: none;
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer-social-icon{
    width: 48px;
    height: 48px;
}